{% extends 'base.html.twig' %}

{% block title %}Hello MesuresController!{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center" style="width: 80% ; margin: auto;margin-top: 150px; padding:10px; ">
        <div class="text-center mx-5 bg-primary px-5 py-3">Column</div>
        <div class="text-center mx-5 bg-primary px-5 py-3">Column</div>
        <div class="text-center mx-5 bg-primary px-5 py-3">Column</div>
        <div class="text-center mx-5 bg-primary px-5 py-3">Column</div>
    </div>

{% endblock %}
