{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Ajouter une alarme</h2>
                </div>
                <div class="card-body">
                    {% if messageConfirmation %}
                        <div class="alert alert-success" role="alert">
                            {{ messageConfirmation }}
                        </div>
                    {% endif %}

                    <form action="/alarmes/ajouter" method="post">
                        <div class="form-group">
                            <label for="type">Type :</label>
                            <select class="form-control" id="type" name="type">
                                <option value="temperatureC">Température (Celsius)</option>
                                <option value="humidite">Humidité</option>
                                <option value="pression">Pression</option>
                                <option value="luminosite">Luminosité</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="valeur">Valeur :</label>
                            <input type="number" class="form-control" id="valeur" name="valeur" step="0.01">
                        </div>
                        <div class="form-group">
                            <label>Inférieur ou supérieur :</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alarme" id="inf" value="inf">
                                <label class="form-check-label" for="inf">Inférieur</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alarme" id="sup" value="sup">
                                <label class="form-check-label" for="sup">Supérieur</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="container mt-5">

    <button class="btn btn-primary" onclick="desactiverAlarme()">Désactiver l'alarme</button>
    <div id="response"></div>

    
<script>
    function desactiverAlarme(){
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (xhr.status === 200) { // Vérifie le statut de la réponse
                console.log('Requête GET réussie ! Réponse : ', xhr.responseText);
                if (xhr.responseText.trim() !== '') { // Vérifie si la réponse n'est pas vide
                    var response = JSON.parse(xhr.responseText); 
                    document.getElementById("response").innerHTML = response.message;
                } else {
                    console.error('Réponse vide ou non parsable en JSON.');
                }
            } else {
                console.error('Erreur lors de la requête.');
            }
        };

        var url = "{{ path('eteindreAlarme') }}";
        xhr.open("GET", url, true); 
        xhr.send();
    }
</script>

    <h2>Ajouter une alarme</h2>
    {% if messageConfirmation %}
    <div class="alert alert-success" role="alert">
        {{ messageConfirmation }}

    </div>
{% endblock %}
